*{
    margin: 0px;
}
body {
    background-color: white;
}
.vp{
    background: white;
    text-align:center;
    /*margin-left: 50vh;*/

}
.header{
    /*height: 10vh;*/
    background: white;
    margin-top:40vh;
    font-size: 5vh;
}

button{
background-color : white;
/*margin-bottom:40vh;*/
font-size: 5vh;
}